aside {
    margin-top: 50px;
}

ul {
    list-style-type: none;
}

aside ul {
    margin: 0px auto;
    width: 70%;
    display: flex;
    flex-wrap: wrap;    
}

aside ul li{
    margin: 5px;
    padding: 3px;
    border: solid 1px wheat; 
    transition: 0.5s;   
}

aside ul li:hover {
    /* border:solid 2px black;  */
    border-radius: 12px;
    transform: scale(1.3);
    transition: 0.5s;
}